@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c1c2f;
}

section::before {

    content: '';
    position: absolute;
    /* bottom: 40%;
    right: 25%; */
    top: 10%;
    right: 30%;
    width: 300px;
    height: 300px;
    background: linear-gradient(180deg, rgb(146, 214, 253), rgb(0, 132, 255) 100%);
    border-radius: 50%;
}
.card::before {

    content: '';
    position: absolute;
    /* bottom: 40%;
    right: 25%; */
    top: 40%;
    left: -15%;
    width: 200px;
    height: 200px;
    /* background: linear-gradient(180deg, rgb(40, 47, 144) 20%, rgba(72,168,255,1) 76%); */
    background: linear-gradient(200deg, rgb(41, 152, 255) 10%, rgb(33, 41, 144) 70%);
    border-radius: 50%;
    
}

.card {
    position: relative;
    /* width: 508px;
    height: 314px; */
    width: 460px;
    height: 280px;
}

.card .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); */
    /* background: rgba(255, 255, 255, 0.05); */
    background: rgba(85, 150, 255, 0.1);
    backdrop-filter: blur(10px);
}

.card .glass i.sun{
    position: absolute;
    top: 40px;
    left: 40px;
    color: rgb(168, 230, 255);
    font-size: 40px;
    transform: rotate(90deg);
}

.card .glass .number {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: rgb(168, 230, 255);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 10px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron', sans-serif;
}

.card .glass .cardHolder {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: rgb(168, 230, 255);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
}

.card .glass i.wifi{
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: rgb(168, 230, 255);
    font-size: 30px;
    transform: rotate(90deg);
}